# Gradle
.gradle/

# Local configuration
local.properties

# Keystore files
*.jks
*.keystore

# Build folder
build/

# NDK
.cxx/

# IDE
.vscode/
.idea/
*.iml
*.exe
/WARP.md
*.aab
*.properties
release/
mymc-pysrc-2.7/
MEMORY_CARD_GUIDE.md
MEMCARD_QUICK_REFERENCE.md
MEMCARD_FEATURE_SUMMARY.md
MEMCARD_ARCHITECTURE.md

# Ignore all Markdown and txt files
*.md
*.txt

# But do NOT ignore README.md
!README.md
build-apk.bat
